h1 {
    color:aquamarine
}
body {
    background-color: darkgreen;
}
h2 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREQO63tFOSFkiiRkS0Wk6icuB7VLu45AL77g&s);
}